{% extends 'base.html.twig' %}

{% block body %}
<div style="margin-top: 2vw;" class="container">
<div class="row post-title">
	<h3>{{ post.title }}</h3><br>
</div>
<div class="row">
	<small>posted by {{ post.user }}</small>
</div>
<div class="row post-text">
	<p>{{ post.text }}</p>
</div>
{% if usr == post.user %}
<div class="remove-post-button row">
	<a href="{{ path('remove_post', {"id": post.id}) }}"><button type="button" class="btn btn-danger btn-sm">Remove Post</button></a>
</div>
{% endif %}
<div style="margin-top: 10vw;" class="row">
	<h5>Comments</h5>
</div>
<div class="row">
	<ul class="list-group list-group-flush">
	{% for comment in comments %}
		<li class="list-group-item">
			<p>{{comment.user}}: {{ comment.text }}
			{% if comment.user == usr %}
				<small><a href="{{ path('remove_comment', {"postId": comment.postId, "id": comment.id}) }}">Remove</a></small>
			{% endif %}</p>
		</li>
	{% endfor %}
	</ul>
</div>
<div class="row">
	<a href="{{ path('comment_page', {"id": post.id}) }}"><button type="button" class="btn btn-success btn-sm">Comment</button></a>
</div>
</div>
{% endblock %}
